<div class="col project-card">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        <img class="card-img-top project-thumb" src="{{ project.img | relative_url }}" alt="{{ project.title }}" loading="lazy" />
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        {% if project.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
